<!DOCTYPE html>
<html>
<head>
<style>
body{
    background-size: cover;
    background-image: url("http://192.168.43.106:8001/public/images/night.jpeg");
}

 p {

        font-size: 16px; font-size: 6vw;
	font-family: Century Gothic, sans-serif;
	color: white
}
 .container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
</style>

</head>

<body>
<div class="container">
<p class="song-name">Some SUPER awesome song</p>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>

$.ajax({
        type: "GET",
        url: '/info',
        data: 'data',
        success: function (data) {
	    var title = data.title;
            var artist = data.artist;
            $('.song-name').innerHTML(artist + " - " title);
            console.log(data);
        }
    })
</script>
</body>

</html>
